warzywniak {
	background-color: red;
}
sklep:before {
	display: block;
	width: 75px;
	font-weight: bold;
	font-size: 200%;
	content: "Sklep";
	padding: .1em .25em;
	background-color: #8CDDFA;
	margin-left: auto;
    margin-right: auto;
  }
sklep {
	display: block;
	margin: 2em 1em;
	border: 4px solid #8CDDFA;
	padding: 0px 1em;
	background-color: white;
  }

adres:before{
	
	display: block;
	width: 75px;
	font-weight: bold;
	font-size: 100%;
	content: "Adres";
	margin: -1.45em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: #0099ff;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
miejscowosc:before{
	content: "Miasto: ";
}
ulica:before{
	content: "Ulica: ";
}
numer_budynku:before{
	content: "Numer : ";

}
adres {
	font-weight: bold;
	font-size: 100%;
	margin-top: 3em;
	padding: 0px 26px;
	display: block;
	background-color: aqua;
	border: 2px solid #0099ff;
	margin-bottom: 1em;
  }
  
  pracownicy:before {
	display: block;
	width: 75px;
	font-weight: bold;
	font-size: 100%;
	content: "Pracownicy";
	margin: -1.45em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: White;
	margin-left: auto;
    margin-right: auto;
	text-align: center;

  }
  
pracownicy {
	padding: 0px 1em;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid purple;
  	text-align: center;
	background-color: aqua;
	display: block;
	margin-bottom: 1em;
  }
  
pracownik:first-of-type imie:before{
	display: block;
	font-weight: bold;
	font-size: 100%;
	content: "Imie";
	border-bottom: 1px solid;
	background-color: lightblue;
}
pracownik:first-of-type nazwisko:before{
	display: block;
	font-weight: bold;
	font-size: 100%;
	content: "Nazwisko";
	border-bottom: 1px solid;
	background-color: lightblue;
}
pracownik:first-of-type stanowisko:before{
	display: block;
	font-weight: bold;
	font-size: 100%;
	content: "Stanowisko";
	border-bottom: 1px solid;
	background-color: lightblue;
	
}

pracownik{
	display:block;
	margin: 1px;
	padding: 3px;
	
}

imie, nazwisko, stanowisko{
	width:20%;
	display:inline-block;
	
	
 }


  
miejscowosc, ulica, numer_budynku{

display: block;
	width: 125px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
